root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,tsx,js,jsx,json,yml,yaml,sh,ps1}]
charset = utf-8

[*.md]
charset = utf-8-bom
trim_trailing_whitespace = false
